* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND */
.dark-bg {
    min-height: 100vh;
    background: linear-gradient(135deg, #1f1f1f, #2c3e50, #000000);
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(to left, #161515, #40474e, #1f1c1c);
}

.navbar-logo {
    border-radius: 50%;
    border: 2px solid rgb(178, 212, 242);
}

.navbar-brand-name {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* MAIN CENTER */
/* CENTER MAIN */
.main-content {
    display: flex;
    justify-content: center;
    padding: 80px 15px;
}

/* SINGLE DARK CARD */
.delete-card {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* POST PREVIEW */
.post-title {
    font-weight:normal;
    font-size: 30px;
}

.post-subject {
    color: #dad9d9;
    font-size: 20px;
    margin-bottom: 20px;
}

.post-file a {
    color: #2d5ded;
    font-size: larger;
    text-decoration: none;
    /* text-decoration-color: #ffffff; */
}

.post-content {
    margin-top: 10px;
    font-size: 14px;
    color: #ddd;
}

/* Divider */
hr {
    border: 1px solid rgba(255,255,255,0.1);
    margin: 25px 0;
}

/* CONFIRM SECTION */
.confirm-section {
    text-align: center;
}

.confirm-section h3 {
    color: #ff4d4d;
    margin-bottom: 8px;
}

/* BUTTONS */
.delete-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    border: none;
    border-radius: 6px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover {
    background-color: #b02a37;
}

.cancel-btn {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.cancel-btn:hover {
    background-color: #545b62;
}