/* MAIN CONTENT BACKGROUND */

.main-content{
flex: 1;
background: linear-gradient(270deg,#2f3035,#3a3b3f,#000000,#2f3035);

background-size:600% 600%;

animation:gradientMove 12s ease infinite;

padding-top:60px;

padding-bottom:60px;

}


/* ANIMATED BACKGROUND */

@keyframes gradientMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}


/* HERO SECTION */

/* .hero-section{

padding-top:20px;

padding-bottom:40px;

} */


/* HERO TEXT */

.hero-title{

font-size:42px;
/* padding-top: 10px; */
animation:fadeUp 1s ease;

}

.hero-subtitle{

font-size:30px;

margin-top:10px;

animation:fadeUp 1.5s ease;

}

.hero-text{

margin-top:10px;

animation:fadeUp 2s ease;

}


/* HERO BUTTONS */

.hero-buttons{

margin-top:25px;

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}


/* BUTTON HOVER EFFECT */

.btn{

transition:0.3s;

}

.btn:hover{

transform:translateY(-3px);

box-shadow:0 8px 20px rgba(0,0,0,0.4);

}


/* GLASS CARDS */

.glass-card{

background:rgba(255,255,255,0.08);

border-radius:15px;

backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.2);

transition:0.4s;

color:white;

}

.glass-card:hover{

transform:translateY(-10px) scale(1.02);

box-shadow:0 10px 30px rgba(0,0,0,0.5);

}


/* TEXT ANIMATION */

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}


/* MOBILE DESIGN */

@media (max-width:420px){

.hero-title{
font-size:22px;
}

.hero-subtitle{
padding-top: 10px;
font-size:16px;
}

.hero-buttons{
flex-direction:column;
align-items:center;
}

.btn-lg{
width:80%;
}

.glass-card{
margin-bottom:18px;
}

}
@media (max-width:600px){

.hero-title{
font-size:24px;
}

.hero-subtitle{
padding-top: 7px;
font-size:20px;
}

.hero-buttons{
flex-direction:column;
align-items:center;
}

.btn-lg{
width:80%;
}

.glass-card{
margin-bottom:18px;
}

}


/* TABLET */

@media (max-width:800px){

.navbar-logo{
width:50px;
height:50px;
}

.navbar-brand-name{
font-size:20px;
}

.nav-item{
text-align:center;
margin:8px 0;
}

}
@media (max-width:992px){

    .navbar-nav{
        text-align:center;
    }

    .navbar .btn{
        display:block;
        width:85%;
        margin:10px auto;
    }

}