* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(44, 46, 47);
    color: white;
}
/* ========================= */
/* NAVBAR MAIN STYLE */
/* ========================= */

.custom-navbar {
    background: linear-gradient(
        to left,
        rgb(22, 21, 21),
        rgb(64, 71, 78),
        rgb(31, 28, 28)
    );
    padding: 10px 0;
}

/* ========================= */
/* LOGO */
/* ========================= */

.navbar-logo {
    border-radius: 50%;
    border: 2px solid rgb(178, 212, 242);
}

/* ========================= */
/* BRAND NAME */
/* ========================= */

.navbar-brand-name {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* ========================= */
/* NAV LINKS */
/* ========================= */

.nav-item {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 8px;
}

.nav-link {
    color: white !important;
    transition: 0.3s ease;
}

/* Hover Effect */
.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

/* ========================= */
/* PROFILE IMAGE */
/* ========================= */

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}

/* Hover Border */
#profile:hover .profile-img {
    border: 4px solid rgb(24, 130, 235);
}

/* ========================= */
/* MOBILE IMPROVEMENT */
/* ========================= */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.main-content {
    background: linear-gradient(135deg, #2f3035,rgb(54, 55, 56), #000000);
    height: 100vh;
    color: white;
}

/* Glass Card */
.glass-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s ease;
}

.custom-alert {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}
