* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(44, 46, 47);
    color: white;
}
/* ========================= */
/* NAVBAR MAIN STYLE */
/* ========================= */

.custom-navbar {
    background: linear-gradient(
        to left,
        rgb(22, 21, 21),
        rgb(64, 71, 78),
        rgb(31, 28, 28)
    );
    padding: 10px 0;
}

/* ========================= */
/* LOGO */
/* ========================= */

.navbar-logo {
    border-radius: 50%;
    border: 2px solid rgb(178, 212, 242);
}

/* ========================= */
/* BRAND NAME */
/* ========================= */

.navbar-brand-name {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* ========================= */
/* NAV LINKS */
/* ========================= */

.nav-item {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 8px;
}

.nav-link {
    color: white !important;
    transition: 0.3s ease;
}

/* Hover Effect */
.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

/* ========================= */
/* PROFILE IMAGE */
/* ========================= */

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}

/* Hover Border */
#profile:hover .profile-img {
    border: 4px solid rgb(24, 130, 235);
}

/* ========================= */
/* MOBILE IMPROVEMENT */
/* ========================= */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.main-content {
    background: linear-gradient(135deg, #2f3035,rgb(54, 55, 56), #000000);
    height: 100vh;
    color: white;
}

/* Glass Card */
.glass-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    max-width: 450px;
}

/* Inputs */
input {
    background: rgba(255, 255, 255, 0.1) !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
}

input::placeholder {
    color:rgba(255, 255, 255,0.6) !important;
}

/* Button */
.custom-btn {
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s ease;
}

.custom-btn:hover {
    transform: translateY(-3px);
}

/* Footer */
.footer {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}
.custom-alert {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}