{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'resources/change_password.css' %}">

<div class="password-wrapper">

    <div class="password-card">

        <h2 class="password-title">
            Change Password
        </h2>

        <form method="post" class="password-form">
            {% csrf_token %}

            <div class="form-group">
                <label>Current Password</label>
                {{ form.old_password }}
            </div>

            <div class="form-group">
                <label>New Password</label>
                {{ form.new_password1 }}
            </div>

            <div class="form-group">
                <label>Confirm New Password</label>
                {{ form.new_password2 }}
            </div>

            <button type="submit" class="change-btn">
                Update Password
            </button>

        </form>

    </div>

</div>

{% endblock %}