{% extends "base.html" %}
{% load static %}

{% block title %}
Register | SparksShare
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'resources/register.css' %}">
{% endblock %}

{% block content %}

<main class="register-main">

<div class="container register-section">

<h2 class="text-center fw-bold page-title">
Create Account
</h2>

<div class="row justify-content-center">

<div class="col-lg-5 col-md-7 col-sm-12">

<div class="register-card">

<form method="POST">

{% csrf_token %}

{% for field in form %}
    {% for error in field.errors %}
        <div class="custom-alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
{% endfor %}

<!-- Username -->

<div class="mb-4">

<label class="form-label">Username</label>

{{ form.username }}

</div>

<!-- Email -->

<div class="mb-4">

<label class="form-label">Email</label>

{{ form.email }}

{% if form.email.errors %}
<div class="form-error">
{{ form.email.errors }}
</div>
{% endif %}

</div>

<!-- Password -->
<div class="password-wrapper">
<label class="form-label">Password</label>
{{ form.password1 }}
<span class="toggle-password" onclick="togglePassword('id_password1')">👁</span>
</div>
<br>
<div class="password-wrapper">
<label class="form-label">conform Password</label>
{{ form.password2 }}
<span class="toggle-password" onclick="togglePassword('id_password2')">👁</span>
</div>
<br>
<button type="submit" class="btn register-btn w-100">

Register

</button>

</form>

<p class="login-link text-center mt-3">

Already have an account?

<a href="/login/">Login here</a>

</p>

</div>

</div>

</div>

</div>

</main>

{% endblock %}

{% block js %}
<script src="{% static 'resources/register.js' %}"></script>
{% endblock %}